pip install https://download.pytorch.org/whl/cu80/torch-1.0.0-cp35-cp35m-win_amd64.whl
pip install torchvision
pip install opencv-python
pip install torchnet
pip install tqdm
pip install torchsummary
pip install matplotlib
pip install fire
pip install sklearn
