pip install torch
pip install torchvision
pip install opencv-python
pip install torchnet
pip install tqdm
pip install torchsummary
pip install matplotlib
pip install fire
pip install sklearn
